# Copier en .env et adapter les valeurs

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123

# MongoDB
MONGO_URI=mongodb://localhost:27017

# PostgreSQL / PostGIS
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=urban_data
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
